input { 
    text-align: center; 
}

#programplanningworksheet {
	outline: 2px solid black;
	padding: 2%;
}

#programplanningworksheet > * {
	margin: 5px
}

.schedule-new table {
	border-collapse: collapse;
	width: 90%;
}

.schedule-new table, th, td {
	border: 1px solid black;
}

.schedule-new td {
	text-align: center;
}

#schedule-course-entry input {
	text-transform: uppercase;
}
