input[type=uname], input[type=password]{
	width: 20%;
	padding: 12px 15px;
	margin: 8px;
	border: 1px solid #ccc
}

.container{
	margin: auto;
	border: 4px #bd1536;
}

button {
	background-color: #bd1536;
	color: white;
	width: 20%;
}

button:hover {
	opacity: 0.8;
}