:root {
	--primary: #8a0000;
	--secondary: #fbfa6e;
	--tertiary: #ffff;
	--black: black;
	--grey: #c9c9c9;
	--offWhite: #f0eeea;
}
* {
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:  "Avenir Next LT W01 Demi", Helvetica, Arial, sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: auto;
}
body {
	min-height:100%;
}
header {
	/* position: fixed; */
	background-color: var(--primary);
	color: #ffff;
	width: 100%;
	left: 0;
	top: 0;
	height: 75px;
}
td{
	border-style: none solid solid solid;
	text-align: center;
	width: auto;
	margin: auto;
	border-spacing: 0;
	font-weight: bold;
}
tr{
	text-align: center;
	width: auto;
	margin: auto;
	border-spacing: 0;
}
th{
	text-align: center;
	width: auto;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	border-spacing: 0;
	background-color: var(--secondary);
}
.container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
	grid-template-rows: 35% 35% 30%;
	padding: 50px;
}
.table_area{
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: var(--primary);
	border-radius: 10px;
	margin: 0 auto;
}
.history_table{
	width: 100%;
	height: 100%;
	display: table;
	padding: 0px;
	border-collapse: collapse;
	background-color: var(--tertiary);
	border-radius: 0 0 10px 10px;
}
.data{
	padding-top: 10px;
	padding-bottom: 10px;
}
#history_table tr:last-child td{
	border-bottom: 0;
}
#history_table tr:last-child #left{
	border-bottom: 0;
	border-left: 0;
	border-bottom-left-radius: 8px;
}
#history_table tr:last-child #right{
	border-bottom: 0;
	border-right: 0;
	border-bottom-right-radius: 8px;
}
#history_table  #left{
	border-left: none;
}
#history_table  #right{
	border-right: none;
}