:root {
	--primary: #8a0000;
	--secondary: #fbfa6e;
	--tertiary: #ffff;
	--black: black;
	--grey: #c9c9c9;
  --offWhite: #f0eeea;

}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.container {
    background: var(--offWhite);
    border-radius: 8px 8px 0 0;
    padding: 25px;
    width: 50%;
    height: auto;
    margin: 35px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(.5fr, 1fr);
    overflow: auto;
    grid-gap: 15px;
}
.contain {
  background: var(--offWhite);
  padding: 25px;
  width: 50%;
  height: auto;
  margin: 0 auto auto auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  overflow: auto;
  grid-gap: 15px;
}
.title {
    padding: 10px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: solid;
    border-color: var(--primary);
}

.input_field {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    margin: 10px auto auto 0px;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.std_in {
  background: var(--tertiary);
  width: 75%;
  margin: 25px 0 22px 0px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  padding: 15px;
  display: inline-block;
  border: none;
  border-radius: 8px;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: var(--primary);
  color: white;
  padding: 16px 20px;
  border-radius: 15px;
  margin: 15px auto auto auto;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  margin: auto;
}

.submit_btn {
  background-color: var(--offWhite);
  padding: 10px;
  padding-top: 15px;
  width: 50%;
  margin: auto;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: var(--offWhite);
  padding: 10px;
  border-top: solid 1px;
  border-radius: 0 0 8px 8px;
  border-color: var(--primary);
  text-align: center;
  width: 50%;
  margin: auto;
}


header {
	/* position: fixed; */
	background-color: var(--primary);
	color: #ffff;
	width: 100%;
	left: 0;
	top: 0;
	height: 75px;
}

body {
	text-align: center;
}

header h2 {
	text-align: center;
	padding: 22px;
}
.major {
  grid-column-start: 1;
  grid-column-end: 2;
}
.minor {
  grid-column-start: 1;
  grid-column-end: 2;
}
.majorsearch {
  width: 50%;
}
.minorsearch {
  width: 50%;
}
.enc_major {
  border-top: solid;
  border-color: var(--primary);
  padding: 40px;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.enc_minor {
  border-bottom: solid;
  border-color: var(--primary);
  padding: 40px;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.m_vals {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0 auto auto auto;
}
.std_tbl {
  border-collapse: collapse;
  border-spacing: 0;
}
.majmin_tbl {
  background-color: var(--offWhite);
  width: auto;
  margin: auto;
  text-align: center;
}
.close {
  color: red;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
}