:root {
	--primary: #8a0000;
	--secondary: #fbfa6e;
	--tertiary: #ffff;
	--black: black;
	--grey: #c9c9c9;
	--offWhite: #f0eeea;

}
input { 
    text-align: center; 
}

#programplanningworksheet {
	outline: 2px solid black;
	padding: 2%;
	border-radius: 8px;
}

#programplanningworksheet > * {
	margin: 5px;
}

.required{
	color:red;
}

.schedule-new table {
	border-collapse: collapse;
	width: 90%;

	border-collapse:separate;
    border:solid var(--black) 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.schedule-new table, th, td {
	border-left:solid var(--black) 1px;
    border-top:solid var(--black) 1px;
}

.schedule-new table th {
	border-left: none;
  	border-right: none;
	background-color: yellow;
    border-top: none;
}

.schedule-new td {
	text-align: center;
}

.title {
	background: var(--offWhite);
	border-radius: 8px;
    padding: 10px;
    margin: 10px auto 40px auto;
    width: 100%;
    height: 20%;
	text-align: center;
}
td:first-child, th:first-child {
    border-left: none;
}

#schedule-course-entry input {
	text-transform: uppercase;
}

textarea {
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 18px;
}

input, button, select {
	/* width: 80%; */
	padding: 3px 10px;
	/* margin: 8px; */
	border: 1px solid grey;
	border-radius: 8px;
}

.close {
  color: red;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FBFA6E;
  text-decoration: none;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	background-color: black;
	color: white;
  	text-decoration: none;
	cursor: pointer;
}
