:root {
	--primary: #8a0000;
	--secondary: #fbfa6e;
	--tertiary: #ffff;
	--black: black;
	--grey: #c9c9c9;
	--offWhite: #f0eeea;

}
input { 
    text-align: center; 
}
h3 {
	text-align: center;
	width: 100%;
	padding: 5px;
	color: var(--tertiary);
	font-weight: bold;
}
#programplanningworksheet {
	outline: 2px solid black;
	padding: 2%;
	border-radius: 8px;
}

#programplanningworksheet > * {
	margin: 5px;
}

.required{
	color:red;
}

.schedule-new table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 8px;
	background-color: var(--tertiary);
}

.schedule-new table, tr {
	text-align: center;
	width: 100%;
	margin: auto;
	border-spacing: 0;
}
.schedule-new table th {
	text-align: center;
	width: auto;
	height: 50px;
	padding: 5px;
	margin: auto;
	border-spacing: 0;
	border-bottom: solid;
	border-right: solid;
	background-color: var(--secondary);
	font-weight: bold;
}
tr:last-child{
	border-right: none;
}

.schedule-new table tr:last-child td{
	border-bottom: none;
}
.schedule-new td {
	border-style: none solid solid solid;
	text-align: center;
	width: auto;
	margin: auto;
	border-spacing: 0;
	font-weight: normal;
	padding: 5px;
}

.title {
	background: var(--offWhite);
	border-radius: 8px;
    padding: 10px;
    margin: 10px auto 40px auto;
    width: 100%;
    height: 20%;
	text-align: center;
}
td:first-child, th:first-child {
    border-left: none;
}

#schedule-course-entry input {
	text-transform: uppercase;
}

textarea {
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 18px;
}

input, button, select {
	/* width: 80%; */
	padding: 3px 10px;
	/* margin: 8px; */
	border: 1px solid grey;
	border-radius: 8px;
}

.close {
  color: red;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FBFA6E;
  text-decoration: none;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	background-color: black;
	color: white;
  	text-decoration: none;
	cursor: pointer;
}

.welcome {
	background-color: var(--offWhite);
	border-radius: 8px;
	text-align: center;
	padding: 25px;
	margin: auto auto 40px auto;
}

.std_courseSearch {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 3;
	height: 100%;
	width: 80%;
	margin: auto;
}
.search_field {
	display:inline-block;
	/* margin-top:20px; */
	width:100%;
	text-align: center;
}
.std_tbl {
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 3;
	width: 80%;
	margin: auto;
}
.std_memo {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	height: 100%;
	width: 90%;
	margin: auto;
	text-align: center;
	border-bottom: solid;
	border-color: var(--primary);
	padding-bottom: 15px;
	padding-top: 45px;
}
.std_title {
	padding: 5px;
	margin-bottom: 35px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.std_id {
	border-bottom: solid;
	border-color: var(--primary);
	padding-top: 45px;
	padding-bottom: 15px;
	width: 90%;
	height: 100%;
	margin: auto;
	text-align: center;
	justify-content: center;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

.std_maj {
	border-bottom: solid;
	border-color: var(--primary);
	padding-top: 45px;
	padding-bottom: 15px;
	text-align: center;

	width: 90%;
	height: 100%;
	margin: auto;
	justify-content: center;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}
.std_register {
	border-bottom: solid;
	border-color: var(--primary);
	padding-top: 45px;
	padding-bottom: 15px;
	text-align: center;
	width: 90%;
	height: 100%;
	margin: auto auto 0 auto;
	justify-content: center;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}
.std_search {
	border-bottom: solid;
	border-color: var(--primary);
	padding: 15px;
	width: 100%;
	height: auto;
	margin: auto;
	justify-content: center;
}
.std_btn {
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	margin: auto;
}
 .denote{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
} 
.schedule-new {
	background-color: var(--offWhite);
}
.std_form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(.25fr, 2fr);
	grid-gap: 50px;
}
.crs_tbl{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 8fr;
	background-color: var(--primary);
	border-radius: 9px;
	width: auto;
}
.tbl_title {
	height: 100%;
	width: 100%;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: var(--primary);
	border-radius: 8px;
}
.tbl_area {
	height: 100%;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 4;
}
.container {
	padding: 2%;
}

@media only screen and (min-width: 400px) {
	.std_form {
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(.25fr, 2fr);
		overflow: hidden;
	}
	.denote {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_title {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_id {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_maj {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_register {
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_memo {
		grid-row-start: 6;
		grid-row-end: 7;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_courseSearch {
		grid-row-start: 7;
		grid-row-end: 8;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_tbl {
		grid-row-start: 8;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_btn {
		grid-row-start: 9;
		grid-row-end: 10;
		grid-column-start: 1;
		grid-column-end: 2;
	}

}
@media only screen and (min-width: 1660px) {
	.std_form {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(.25fr, 2fr);
	}
	.denote {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.std_title {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.std_id {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_maj {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.std_register {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.std_memo {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.std_courseSearch {
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.std_tbl {
		grid-row-start: 6;
		grid-row-end: 7;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.std_btn {
		grid-row-start: 7;
		grid-row-end: 8;
		grid-column-start: 1;
		grid-column-end: 3;
	}

}